<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">@Html.ActionLink("Pedro Moreira", "Index", "Home")</p>
        </div>
    </div>
</header>